    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <p>Blindstore is distributed under <a href="http://opensource.org/licenses/MIT">MIT License</a></p>
                    <p>Logo credits: eye designed by <a href="http://www.thenounproject.com/eugen.belyakoff">Eugen Belyakoff</a> from the <a href="http://www.thenounproject.com/">Noun Project</a>, inspiration – Devan Colley's <a href="http://devan-colley.deviantart.com/art/The-Eye-of-Providence-439920143">picture</a></p>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js' type='text/javascript'></script>

    <script src="{{ "assets/scripts/bootstrap/scrollspy.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "assets/scripts/bootstrap/collapse.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "assets/scripts/bootstrap/transition.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "assets/scripts/main.js" | prepend: site.baseurl }}"></script>

    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
